    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h3 class="block-title">Dropshipping</h3>
                <ul class="menu">
                    <li><a href="about" data-i18n="shared.footer_dropshipping_about"></a></li>
                    <li><a href="auth" data-i18n="shared.footer_dropshipping_login"></a></li>
                    <li><a href="auth/create" data-i18n="shared.footer_dropshipping_createAccount"></a></li>
                    <li><a href="#" data-i18n="shared.footer_dropshipping_privacyPolicy"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h3 class="block-title" data-i18n="shared.footer_help_helpTitle"></h3>
                <ul class="menu">
                    <li><a href="help" data-i18n="shared.footer_help_security"></a></li>
                    <li><a href="#" data-i18n="shared.footer_help_frequentlyQuestions"></a></li>
                    <li><a href="#" data-i18n="shared.footer_help_forBusinesses"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h3 class="block-title" data-i18n="shared.footer_language_languageTitle"></h3>
                <ul class="menu">
                   <li><a href="#" data-ng-click="setLocale('en-US')"  data-i18n="shared.footer_language_english"></a></li>
                   <li><a href="#" data-ng-click="setLocale('pt-BR')" data-i18n="shared.footer_language_portuguese"></a></li>
                   <li><a href="#" data-ng-click="setLocale('es')" data-i18n="shared.footer_language_spanish"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h3 class="block-title">Contato</h3>
                <ul class="menu">
                    <li><a href="#" data-i18n="shared.footer_dropshipping_contact"></a></li>
                </ul>
                <ul class="menu bottom-social-icons social-icon">
                  <li>
                    <a class="facebook" target="_blank" href="https://web.facebook.com/GrayGrids"><i class="fa fa-facebook"></i></a>
                    <a class="linkedin" target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                    <a class="twitter" target="_blank" href="https://twitter.com/GrayGrids"><i class="fa fa-twitter"></i></a>
                    <a class="google-plus" target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
                  </li>
              </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer area End -->
      
      <!-- Copyright Start  -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="site-info pull-left">
                <p>All copyrights reserved &copy; 2018 - Dropshipping</p>
              </div>              
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright End -->

    </footer>
    <!-- Footer Section End -->  
    <!-- Start Loader -->
    <div id="loader">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
    </div>