    <!-- Page Header Start -->
    <div class="page-header" style="background: url(libs/dropshipping_theme/assets/img/banner3.jpg);">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="page-title" data-i18n="auth.createUserForm_formTitle"></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 

    <!-- Content section Start --> 
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="page-login-form box">
              <form role="form" class="login-form" name="createForm" novalidate>
                <div class="form-group">
                  <div class="input-icon">
                    <i class="icon fa fa-envelope"></i>
                    <input class="form-control" data-i18n-attr="{placeholder: 'auth.createUserForm_email'}" ng-model="email" id="email" type="email" required>
                  </div>
                </div> 
                <div class="form-group">
                  <div class="input-icon">
                    <i class="icon fa fa-unlock-alt"></i>
                    <input class="form-control" data-i18n-attr="{placeholder: 'auth.createUserForm_password'}" ng-model="password" id="password" type="password" required>
                  </div>
                </div>  
                <div class="form-group">
                  <div class="input-icon">
                    <i class="icon fa fa-unlock-alt"></i>
                    <input class="form-control" data-i18n-attr="{placeholder: 'auth.createUserForm_confPassword'}" ng-model="confPassword" id="confPassword" type="password" required>
                  </div>
                </div>                 
                <save-data-button data-i18n-attr="{nome: 'auth.createUserForm_buttonText'}" acao="createUser()" ng-disabled="createForm.$invalid">
                </save-data-button>
                <p class="box-error-content" ng-if="error">
                 <i class="fa fa-times"></i> <span data-i18n='{{ error }}'> </span>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content section End -->