    <!-- Page Header Start -->
    <div class="page-header" style="background: url(libs/dropshipping_theme/assets/img/banner3.jpg);">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
              <div class="breadcrumb-wrapper">
                  <h2 class="page-title" data-i18n="auth.pswdResetForm_messageSuccess_title"></h2>
                </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 
    <!-- Content section Start --> 
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
           <div class="inner-box posting">
              <div class="alert alert-success alert-lg" role="alert">
              <p>✔ <span data-i18n="auth.pswdResetForm_messageSuccess_message"></span></p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content section End -->