    <!-- Steps Section Start -->
    <section id="howwork" class="features">
      <div class="container">
        <div class="row">
          <h3 class="section-title">Como funciona</h3><br>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="howworking wow fadeInDownQuick" data-wow-delay="0.2s">
              <div class="icon">
                <span>
                  <i class="fa fa-cart-plus"></i>
                </span>
              </div>
              <div class="desc">
                <h3 class="">#1</h3>
                <p>Procure por produtos <br>que deseja comprar</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="howworking wow fadeInDownQuick" data-wow-delay="0.4s">
              <div class="icon">
                <span>
                  <i class="fa fa-credit-card-alt"></i>
                </span>
              </div>
              <div class="desc">
                <h3 class="">#2</h3>
                <p>Selecione a melhor forma <br>de pagamento</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="howworking wow fadeInDownQuick" data-wow-delay="0.6s">
              <div class="icon">
                <span>
                  <i class="fa fa-map"></i>
                </span>
              </div>
              <div class="desc">
                <h3 class="">#3</h3>
                <p>Entregamos <br>para você</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Steps Section End -->

      <!-- Categories Section --> 
      <div class="wrapper">      
      <section class="grid-category">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="box-title no-border">
                <div class="inner">
                  <h3 class="section-title"><span>Encontre por</span> categorias</h3>   
                  <a href="category.html" class="sell-your-item"><i class="fa fa-th-large"></i> veja mais 
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-12">              
                <div class="col-md-2 col-sm-3 col-xs-6 f-category  wow fadeIn" data-wow-delay="0.8s">
                    <a href="category.html">
                      <div class="icon">
                        <i class="fa fa-female"></i>
                      </div>
                      <h6>Fashion & Beauty</h6> 
                    </a>
                  </div>
              <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="0.1s">
                <a href="category.html">
                  <div class="icon">
                    <i class="fa fa-laptop"></i>
                  </div>
                  <h6>Laptops</h6> 
                </a>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="0.2s">
                <a href="category.html">
                  <div class="icon">
                    <i class="fa fa-mobile"></i>
                  </div>
                  <h6>Mobiles</h6> 
                </a>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="0.3s">
                <a href="category.html">
                  <div class="icon">
                    <i class="fa fa-headphones"></i>
                  </div>
                  <h6>Electronics</h6> 
                </a>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="0.4s">
                <a href="category.html">
                  <div class="icon">
                    <i class="fa fa-tv"></i>
                  </div>
                  <h6>Computer</h6> 
                </a>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="0.7s">
                  <a href="category.html">
                    <div class="icon">
                      <i class="fa fa-camera"></i>
                    </div>
                    <h6>Cameras</h6>
                  </a>
                </div>
             
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- end categories -->
 
   <!-- Counter Section Start -->
    <section id="counter">
      <div class="container">
        <div class="row">
          <div class="col-md-6 row localtion-list">
            <div>
              <h3 class="title-2"><i class="fa fa-envelope"></i> Inscreva-se abaixo e fique por dentro! </h3>
            <form id="subscribe" action="">
              <p>Quer saber todas as novidades que serão anunciadas sobre o Dropshipping?</p>
              <div class="subscribe">
                <input class="form-control" name="EMAIL" placeholder="Informe seu e-mail aqui" required="" type="email">
                <button class="btn btn-common" type="submit">Inscrever</button>
              </div>
            </form>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12 box-data">
            <div class="counting wow fadeInDownQuick" data-wow-delay="0s">
              <div class="icon">
                <span>
                  <i class="lnr lnr-tag"></i>
                </span>
              </div>
              <div class="desc">
                <h3 class="counter">12090</h3>
                <p>Avaliações</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12 box-data">
            <div class="counting wow fadeInDownQuick" data-wow-delay="0s">
              <div class="icon">
                <span>
                  <i class="lnr lnr-map"></i>
                </span>
              </div>
              <div class="desc">
                <h3 class="counter">350</h3>
                <p>Lugares</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12 box-data">
            <div class="counting wow fadeInDownQuick" data-wow-delay="0s">
              <div class="icon">
                <span>
                  <i class="lnr lnr-users"></i>
                </span>
              </div>
              <div class="desc">
                <h3 class="counter">23453</h3>
                <p>Membros</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter Section End -->